%ul
  = form_for @user do |f|
    - if flash[:error]
      %p
        %b= flash[:error]

      - @user.errors.full_messages.each do |msg|
        %li.question.error
          .question-title
            %p
              %b=msg

    %p
      = f.label :email
      = f.email_field :email, autofocus: true
    %p
      = f.label :password
      = f.password_field :password, autocomplete: "off"
    %p
      = f.label :password_confirmation
      = f.password_field :password, autocomplete: "off"

    %p.submit
      %button.finish{type: "submit"} Sign up
