= form_for @item, html: { multipart: true } do |f|
  - if @item.errors.any?
    #error_explanation
      %h2 
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved

      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :image
    = f.file_field :image, class: "form-control"
  
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"

  .form-group
    = f.label :state, 'Lost'
    = f.radio_button :state, 'lost', class: "form-control"
    = f.label :state, 'Found'
    = f.radio_button :state, 'found', class: "form-control"
  
  .form-group
    = f.submit 'Save item', class: "btn btn-primary"
