.col-md-3
  %div{class: "box panel panel-default"}
    = link_to image_tag(item.profile), item 
    %div{class: "panel-body"}
      = item.description 

      %br 
      - if item.user == current_user 
        %div{class: "actions"}
          = link_to edit_item_url(item) do 
            %span{class: "fa fa-edit"} 
              Edit
          = link_to item, method: :delete, data: {confirm: 'Are you sure'} do 
            %span{class: "fa fa-trash"}
              Delete

      - if item.tag_list.count > 0
        %p 
          tags: 
          - item.tag_list.each do |tag|
            = link_to tag, tag_url(tag)