%div{class: "col-md-4 col-md-offset-2 category-list"}
  - @categories.each do |cat|
    = render 'category', category: cat

%div{class: "col-md-4"}
  .btn.btn-success.btn-sm.add-category
    Add a category

  .add-category-form
    = form_for [:admin, @category], remote: true, html: {class: "category disabled"} do |f|
      - if @category.errors.any? 
        #error_explanation
          %h2
            = pluralize(@category.errors.count, "error") 
            prohibited this category from being saved:

          %ul
            - @category.errors.full_messages.each do |msg| 
              %li
                = msg

      .category-add
        .form-group
          = f.label :name 
          = f.text_field :name, class: "form-control"
        .form-group
          .controls
            = f.button '+ Add', class: 'btn btn-success save'
            .btn.btn-warning.category-cancel
              Cancel
